@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Фитнес-клуб";
    var trainers = ViewBag.trainers;
    var membership = ViewBag.membership;
}

<h1>Добро пожаловать в наш Фитнесс-клуб</h1>
<section class="fitness-info">
    <h3>Информация о сайте:</h3>
    <p>Добро пожаловать в FitLife — пространство, где спорт становится образом жизни! 
        Современный тренажерный зал, разнообразные групповые программы (йога, пилатес, кроссфит) 
        и опытные тренеры ждут вас. Мы поможем похудеть, набрать мышечную массу или просто поддерживать 
        тонус. Индивидуальный подход к каждому клиенту. Начните свой путь к здоровому телу уже сегодня!
    </p>
    <p><strong>Дата:</strong> @ViewBag.Time</p>   
</section>

<h2>Наши тренеры:</h2>
<section class="trainers">
    @for(int i = 0; i < trainers.Count; ++i)
    {
        var trainer = trainers[i];
        <div class="trainer-card">
            <img src= @trainer.avatarPath 
            class="trainer-card-img"/>
            <h3>@trainer.FIO</h3>
            <p>@trainer.aboutMe</p>
            <a class="trainer-card-button" href="/Fitness/Trainer/@(i+1)">Узнать больше</a>
        </div>
    }
</section>

<h2>Виды абонементов</h2>
<section class="membership">
    @for (int i = 0; i < membership.Count; ++i)
    {
        var item = membership[i];
        <div class="membership-card" style="background-image: url(@item.imagePath)">            
            <h3 class="membership-card-title">@item.name</h3>
            <p class="membership-card-description">@item.description</p>            
        </div>
    }
</section>
<a href="/Fitness/Membership">Подробнее</a>

<style>
    .trainers, .membership{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-block-end: 20px;
    }

    .membership{
        justify-content: center;
        gap: 20px;
    }

    .trainer-card{
        inline-size: 400px;
        block-size: 400px;
        padding: 15px;
        border: 1px dashed currentColor;
        position: relative;
    }

    .trainer-card-img{
        inline-size: 100%;
        block-size: 50%;
        object-fit: cover;
        object-position: center;
        margin-block-end: 20px;
    }

    .trainer-card-button{
        border-radius: 10px;
        background-color: darkorange;
        color: white;
        padding: 10px;
        border: none;
        position: absolute;
        bottom: 15px;
        left: 15px;
        appearance: none;
        cursor: pointer;
    }

    .membership-card{
        inline-size: 300px;
        block-size: 300px;
        background-size: cover;
        background: center;
        background-repeat: no-repeat;
        padding: 15px;
        border: 1px dashed currentColor;
        position: relative;
        color: #fff;
        font-size: 20px;
        z-index: 0;
    }

    .membership-card::before{
        content: '';
        inline-size: 100%;
        block-size: 100%;
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }

    .membership-card-title{
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .membership-card-description {
        position: absolute;
        bottom: 15px;
        left: 15px;
    }
</style>