@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var title = ViewData["Title"];
    var subscriptionList = ViewBag.MemberShips;
}

<h1>@title</h1>

@foreach (var item in subscriptionList)
{
    <h2>@item.name</h2>
    <p>@item.description</p>
    <img class="membership-image" 
    src = @item.imagePath/>
    <p>
        Цена: @item.price
        <span>Р</span>
    </p>
    @if (item.discount > 0)
    {
        <p>Скидка: @item.discount %</p>
        <p style="color: green">Цена со скидкой: @item.Discount() Р</p>
    }
    <hr />
}

<style>
    .membership-image{
        object-fit: cover;
        inline-size: 350px;
        block-size: 250px;
        object-position: center;
        border-radius: 10px;
        margin-block-end: 20px;
    }
</style>
