@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int trainerId = ViewBag.trainerId;
    var trainers = ViewBag.trainers;
    var trainer = trainerId <= trainers.Count ? trainers[trainerId - 1] : trainers[0];
}

<title>Информация о тренере #@trainerId</title>

<img class="avatar" 
    src = @trainer.avatarPath
    />

<p><strong>ФИО:</strong> @trainer.FIO</p>
<p><strong>Специализация:</strong> @trainer.specialization</p>
<p><strong>Обо мне:</strong> @trainer.aboutMe</p>
<p><strong>Образование:</strong> @trainer.education</p>

@if (trainer.phrase != "Цитата отсутствует")
{
    <p><strong>Цитата:</strong> @trainer.phrase</p>
}

<button class="join-button" onclick="join(@trainerId)">Записаться на занятия</button>

<style>
    .avatar{
        border-radius: 50%;
        inline-size: 180px;
        block-size: 180px;
        border: 1px solid currentColor;
        margin-block-end: 20px;
    }

    .join-button{
        border-radius: 10px;
        background-color: darkorange;
        color: white;
        padding: 10px;
        border: none;
    }
</style>

<script>
    function join(trainerId) {
    alert(`Вы записались к тренеру #${trainerId}`);
    }
</script>


