@model MvcApp.Models.TaskObject
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Добавление задачи";
}

<h1>Добавление задачи</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" enctype="multipart/form-data">
            @* Вывод сводки по ошибкам валидации, которые не привязаны к конкретному полю *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                @* asp-for генерирует label с текстом из атрибута [Display] *@
                <label asp-for="Title" class="form-label"></label>
                @* asp-for генерирует input с правильными name и id, а также атрибутами валидации (data-val-*) *@
                <input asp-for="Title" class="form-control" />
                @* Место для вывода ошибки валидации по полю Name *@
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">                
                <label asp-for="Description" class="form-label"></label>                
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ImagePath" class="form-label"></label>
                <input asp-for="ImagePath" class="form-control" type="file">
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <p>Приоритет:</p>
                <div class="col mb-2">
                <label>
                    @Html.RadioButtonFor(m => m.Priority, "Высокий")
                    Высокий
                </label>
                </div>

                <div class="col mb-2">
                <label>
                    @Html.RadioButtonFor(m => m.Priority, "Средний")
                    Средний
                </label>
                </div>

                <div class="col mb-2">
                <label>
                    @Html.RadioButtonFor(m => m.Priority, "Низкий")
                    Низкий
                </label>
                </div>                
            </div>

            <div class="mb-3">
                <label asp-for="DueDate"></label>
                <input asp-for="DueDate" type="date" class="form-control"/>
            </div>

            <div class="mb-3">
                <label asp-for="Assignee"></label>
                <input asp-for="Assignee" type="text" class="form-control" />
            </div>

            <div class="mb-3">
                <p>Статус:</p>
                <div class="col mb-2">
                    <label>
                        @Html.RadioButtonFor(m => m.Status, "К выполнению")
                        К выполнению
                    </label>
                </div>

                <div class="col mb-2">
                    <label>
                        @Html.RadioButtonFor(m => m.Status, "В работе")
                        В работе
                    </label>
                </div>

                <div class="col mb-2">
                    <label>
                        @Html.RadioButtonFor(m => m.Status, "Выполнено")
                        Выполнено
                    </label>
                </div>                
            </div>

            <div class="mb-3 form-check">
                <input asp-for="IsCompleted" class="form-check-input" />
                <label asp-for="IsCompleted" class="form-check-label"></label>
            </div>

            <div class="mb-3">
                <input type="submit" value="Добавить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
            </div>
        </form>
    </div>
</div>

@* Подключаем скрипты для клиентской валидации (без перезагрузки страницы) *@
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}